@model HairSalon.Models.Client

<h2>Client's Details</h2>

<button class="btn">@Html.ActionLink("Update client", "Edit", new { id = Model.ClientID })</button>
<button class="btn">@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientID })</button>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.ActionLink(Model.Stylist.Name, "Details", "Stylist", new { id = @Model.Stylist.StylistID })</h3>


